<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ibm.etools.mft.debug.internal.mbLaunchConfigurationDelegate">
    <stringAttribute key="BRName" value="CHANNELSERVICE"/>
    <stringAttribute key="ConnectionInfo" value="192.168.239.59:4414"/>
    <stringAttribute key="EGName" value="EG.COB_SERVICE"/>
    <stringAttribute key="com.ibm.etools.mft.debug.attr_hostname" value="192.168.239.59"/>
    <stringAttribute key="com.ibm.etools.mft.debug.attr_javaportname" value="9015"/>
</launchConfiguration>
